 <!DOCTYPE html>
<html>

<body>

<title>Sala Deoculto</title>

{% if username %}
  <h1 id="demo">Bienvenido {{ username }}!</h1>
{% else %}
  <h1 id="demo">Bienvenido</h1>
{% endif %}

<button type="button" onclick="myFunction()">Try it</button><br>

<form action="/" method="post">
	Username:<br>
	<input type="text" name="username" value="">
	<br><br>
	<input type="submit" value="Submit">
</form> 

<script type="text/javascript" src="{{ url_for('static', filename='myScript.js') }}"></script>

</body>
</html>
